* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
    line-height: 1.3;
}

body {
    background-color: #83afaf;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 60%;
}

.todo-list-container,
.todo-form,
.todo-header {
    margin: 10px 0;
    padding: 20px;
    width: 80%;
    background-color: #5a8c8c;
    border: 1px solid #3c5d5d;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.todo-header p {
    font-size: 20px;
}

.todo-form {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.form-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-row label {
    width: 120px;
    align-self: center;
}
.form-row input {
    flex: 1;
}
.hidden-form-button,
.form-row button {
    background-color: #83afaf;
    margin-left: 20px;
    width: 70px;
    border: 1px solid #3c5d5d;
    border-radius: 10px;
}
.hidden-form-input,
.form-row input[type='text'] {
    background-color: #83afaf;
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px;
    width: calc(100% - 150px);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 14px;
}

#todo-list {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

#todo-list li {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style-type: none;
    justify-content: space-between;
    margin: 5px 0;
}

#todo-list li:hover {
    font-weight: bold;
}

.list-item-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#todo-list li img {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 5px;
}

#todo-list li p {
    float: left;
}

.hidden-form-input {
    float: left;
    width: 50%;
}

.hidden-div {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.hidden {
    display: none;
}





